@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.btn {
  &SecondaryGreen {
    @apply bg-primaryLimeGreen-400 text-white p-2 rounded-sm w-full hover:bg-green-700 hover:ring-2 hover:ring-offset-1 hover:ring-green-800;
  }
}

.linkHover:hover span:last-child {
  width: 100%;
}

.linkHoverAttr {
  @apply absolute -bottom-1 left-0 w-0 transition-all h-1 bg-primaryLimeGreen-400;
}
